.chat-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-header {
  height: 60px;
  background-color: #7dd291;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.chat-header-left {
  display: flex;
  align-items: center;
}

.receiver-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.receiver-name {
  font-size: 16px;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f8f8; /* Light background for messages */
  display: flex;
  flex-direction: column;
}

.chat-message {
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  word-wrap: break-word;
}

.self {
  background-color: #e3fceb; /* Light green for client */
  color: #000;
  text-align: right;
  align-self: flex-end;
}

.other {
  background-color: #ffffff; /* White for server */
  color: #000;
  text-align: left;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.send-btn {
  background-color: #07355e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
